# Ignore Emacs backup files.
*~
\#*

# Ignore vim swapfiles
*.swp

# Ignore ecitors and IDE configuration files.
.project
.idea
.vscode

# ignore golang-migrate/migrate binaries
migrate
migrate.linux-amd64
